.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        kururi
      %ul.main-header__left-box__member-list
        Member :
        %li.main-header__left-box__member-list__member
          Zaboera
    .main-header__edit
      = link_to "#" do
        Edit
    



  .main-message
    .main-message__log
      .main-message__log__info
        %p.main-message__log__info__name
          Pussy
        %p.main-message__log__info__date
          2020/02/01
      .main-message__log__text
        Don't be pussy man





  .main-form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}